
.container{
    background-color: blue;
    align-content: center;
    text-align: center;
    height: 500px;
}

.header-h1{
    color: white;
}
.header-p{
    background-color: aliceblue;
    text-align: center;
    height: 100px;
    width: 200px;
    text-align: end;
    margin-left: 600px;
    margin-right: 500px;
    padding-top: 50px;
}

.box2{
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(234, 246, 251);
}

.column{
    margin-top: 8px;
    float: left;
    width: 60%;
    text-align: left;
    border-style: ridge;
    padding-left: 20px;
    padding-right: 20px ;
}

.column2{
    float: right;
    width: 38%;
    text-align: center;
    border-style: ridge;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    right: -100px;
}

.btn{
    background-color: cornflowerblue;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    padding: 3px;
    float: none;
}

.section-title{
    padding-left: 20px;
    font-size: 25px;
}

.section-subtitle{
    padding-left: 10px;
}

